@using Farma24.Helper
@model IEnumerable<Farma24.Models.Utilizador>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Utilizadores</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.iban)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contacto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=UtilizadorHelper.ToBase64(item.email) }) |
            @Html.ActionLink("Details", "Details", new { id=UtilizadorHelper.ToBase64(item.email) }) |
            @Html.ActionLink("Delete", "Delete", new { id=UtilizadorHelper.ToBase64(item.email)})
        </td>
    </tr>
}

</table>

<style>
    a {
        text-decoration-style: none;
    }
</style>