@using Farma24.Models
@model List<Encomenda_has_Produto>

<h1 style="text-align: center"><span style="color: #297a6d; border: solid;"><b>ENCOMENDA ATUAL</b></span></h1>

<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Produto1.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Produto1.preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantidade)
            </td>

            <td>
                @Html.ActionLink("remover Produto", "Edit", item)
            </td>
        </tr>
    }

</table>

<a href='@Url.Action("Update", "EncomendaProdutoView")' class="button">
    Comprar
</a>

<style>
    td {
        text-decoration: none;
    }
</style>