@using  Farma24.Helper

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>@ViewBag.Title - Farma24</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-custom navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="navbar-header pull-right">
                    <form asp-controller="Produoes" asp-action="Index">
                        <p>
                            <input type="text" class="form-control" name="SearchString">
                        </p>
                    </form>
                </div>
                <a href='@Url.Action("Index", "Produtoes")'>
                    <img src='@Url.Content("~/Content/Images/logo.png")' height="50" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li>@Html.ActionLink("Sobre nós", "About", "Home")</li>
                    <li>@Html.ActionLink("Contactos", "Contact", "Home")</li>
                </ul>
                @if (!Request.IsAuthenticated)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Login", "Index", "Login")</li>
                        <li>@Html.ActionLink("Registar", "Index", "RegisterView")</li>
                    </ul>
                }
                else if (this.User.IsInRole("user"))
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Carrinho", "Index", "EncomendaProdutoView")</li>
                        <li>@Html.ActionLink("Historico", "Index", "Encomendas")</li>
                        <li>@Html.ActionLink(User.Identity.Name, "Details", "Utilizadors", new { id = UtilizadorHelper.ToBase64(User.Identity.Name) }, null)</li>
                        <li>@Html.ActionLink("Logout", "Index", "Login")</li>
                    </ul>
                }
                else if (this.User.IsInRole("staff"))
                {

                }
                else if (this.User.IsInRole("admin"))
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Menu de Administrador", "Index", "Utilizadors")</li>
                        <li>@Html.ActionLink("Logout", "Index", "Login")</li>
                    </ul>
                }
                else
                {

                }
            </div>
        </div>
</nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Farma24</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
