@model Farma24.Produto

@{
    ViewBag.Title = "Details";
}

<h1>
    <span style="color: #297a6d; border: solid;">
        <b>
            @Html.DisplayFor(model => model.nome)
        </b>
    </span>
</h1>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Categoria:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categoria)
        </dd>

        <dt>
            Preço:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.preco)
        </dd>

        <dt>
            Descrição:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descricao)
        </dd>

        <dt>
            Imagem:
        </dt>

        <dd>
            <img src='@Url.Content(Model.imagem)' style="height:200px; max-width: 100%" />
        </dd>

    </dl>
</div>


<p>
    @if (this.User.IsInRole("admin"))
    {
        <div class="btn btn-default back">
            @Html.ActionLink("comprar", "Create", new { id = Model.codBarras })
        </div>
        <div class="btn btn-default back">
            @Html.ActionLink("Edit", "Edit", new { id = Model.codBarras })
        </div>
        <div class="btn btn-default back">
            @Html.ActionLink("Delete", "Delete", new { id = Model.codBarras })
        </div>
    }
   
    <div class="btn btn-default back">
        @Html.ActionLink("Back to List", "Index")
    </div>
</p>

<style>
    .back {
        background-color: #297a6d;
    }

        .back a {
            text-decoration: none;
            color: #ffffff
        }

        .back:hover {
            background-color: #39dd90;
            color: #ffffff
        }
</style>